<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Keep the device awake, while we are tracking -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- For saving monitoring data on external storage -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Without gps, we are doomed! -->
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <!-- TODO fix backup. Temporary disable backup until fix lack of  permissions after restore -->
    <!-- TODO Remove legacy external storage support and refactor accessing files-->
    <application
        android:name=".SmartBirdsApplication_"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.SplashScreenActivity_"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="SmartBirds Pro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.StartMonitoringActivity"
            android:label="@string/title_activity_start_monitoring"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.MonitoringActivity"
            android:label="@string/title_activity_monitoring"
            android:parentActivityName=".ui.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.NewMonitoringEntryActivity"
            android:label="@string/title_activity_form"
            android:parentActivityName=".ui.MonitoringActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MonitoringActivity" />
        </activity>
        <activity
            android:name=".ui.EditCurrentCommonFormActivity"
            android:label="@string/title_activity_edit"
            android:parentActivityName=".ui.MonitoringActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MonitoringActivity" />
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".ui.MonitoringListActivity"
            android:label="@string/title_monitoring_list"
            android:parentActivityName=".ui.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.MonitoringDetailActivity_"
            android:label="@string/title_monitoring_detail"
            android:parentActivityName=".ui.MonitoringListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MonitoringListActivity" />
        </activity>
        <activity
            android:name=".ui.EditMonitoringEntryActivity"
            android:label="@string/title_activity_form"
            android:parentActivityName=".ui.MonitoringListActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MonitoringListActivity" />
        </activity>

        <activity
            android:name=".ui.StatsActivity"
            android:label="@string/title_activity_stats"
            android:parentActivityName=".ui.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.DownloadsActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.BrowseMonitoringCommonFormActivity_"
            android:label="@string/title_activity_edit"
            android:parentActivityName=".ui.MonitoringActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MonitoringActivity" />
        </activity>
        <activity
            android:name=".ui.ViewMonitoringEntryActivity_"
            android:label="@string/title_activity_form"
            android:parentActivityName=".ui.MonitoringListActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bspb.smartbirds.pro.ui.MonitoringListActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MonitoringReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".ui.MonitoringDetailActivity_" />

        <service
            android:name=".service.DataService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="77d73d871322caaa0ef4f96a467325bcc3b2dfb5" />

        <service
            android:name=".service.ExportService_"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.SmartBirdsFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.SyncService_"
            android:exported="false" />

        <service
            android:name=".service.TrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>
